n8n-workflow-template.json
{
  "name": "Pallets Premium - Rastreo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "palletsrastreo",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "palletsrastreo"
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": "TU_ID_DE_GOOGLE_SHEETS",
        "sheetName": "Hoja1",
        "lookupColumn": "trackingNumber",
        "lookupValue": "={{ $json.body.trackingNumber }}"
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.trackingNumber }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "IF - ¿Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "const statusHistory = JSON.parse($input.item.json.statusHistory || '[]');\n\nreturn {\n  json: {\n    success: true,\n    data: {\n      trackingNumber: $input.item.json.trackingNumber,\n      currentStatus: $input.item.json.currentStatus,\n      customerName: $input.item.json.customerName,\n      lastUpdate: $input.item.json.lastUpdate,\n      estimatedDelivery: $input.item.json.estimatedDelivery,\n      statusHistory: statusHistory,\n      externalTrackingLink: $input.item.json.externalLink || null\n    }\n  }\n};"
      },
      "name": "Formatear Éxito",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "functionCode": "return {\n  json: {\n    success: false,\n    error: 'No encontrado',\n    message: 'No se encontró el número de rastreo. Verifica que esté correcto.'\n  }\n};"
      },
      "name": "Formatear Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "IF - ¿Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - ¿Encontrado?": {
      "main": [
        [
          {
            "node": "Formatear Éxito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatear Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Éxito": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "pallets-rastreo"
}

